body main{
    .products_attributes_filters{
        #wsale_products_attributes_collapse{
            li.erp_collapse{
                border-bottom: 1px solid #00000030;
                [data-toggle]{
                    cursor: pointer;
                    .o_products_attributes_title{
                        max-width: 85%;
                    }
                    i{
                        transition: all .3s;
                    }
                }
                [data-toggle="true"]{
                    i{
                        rotate: 90deg;
                    }
                }
                div[data-collapse]{
                    overflow: hidden;
                    display: flex;
                    transition: all .3s;
                }
                div[data-collapse="false"]{
                    height: 0px;
                }
                .custom-control{
                    min-height: fit-content;
                }
            }
        }
        .filter-controls{
            background-color: white;
            border-radius: 5px;
            position: sticky;
            bottom: 0;
            padding: 10px 0;
        }
    }
}